/*Regole di reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
    color: currentColor;
}

a {
    text-decoration: none;
    color: currentColor;
}

/*Regole di layout*/

body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px; 
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    padding: 10px;
}

/*Header*/
.page-header {
    min-height: 30px;
    background-color: #ff6900;
    color: white;
    font-size: 12px;
    position: fixed; 
    z-index: 999; 
    width: 100%;
}

.navbar {
    padding: 8px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.navbar_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.img-logo {
    height: 30px;
}

/*Main*/

.main {
    font-size: 12px;
}

/*Cards*/

.figure {
    position: relative; 
}

/*tags and decorations*/

.tag{
    line-height: 20px;
    font-size: 11px;
    padding: 0 8px;
    position: absolute; 
    z-index: 2; 
}

.heart {
    background-color: white;
    color: black;
    font-size: 18px;
    right: 0; 
    top: 30px;  
}

.tag-container {
    position: absolute;
    bottom: 25px;
    z-index: 2; 
}

.price {
    background-color: #ff0000;
    color: white;
    bottom: 25px; 
    left: 0;
}

.description {
    background-color: #008000;
    color: white;
    bottom: 25px; 
    left: 0;
}

.tag-container .tag {
    position: static;
    display: inline-block;
}

.b-img {
    position: absolute; 
    z-index: -1; 
    left: 0;
    top: 0; 
}

.card:hover .b-img {
    z-index: 1;
}

.heart:hover {
    color: red;
}

/*DEBUG*/

.debug .row {
    padding: 30px;
    background-color: aqua;
}

.debug .col-4 {
    padding: 10px;
    background-color: blue;
    border: 2px solid black;
}
