/*Regole di reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
    color: currentColor;
}

a {
    text-decoration: none;
    color: currentColor;
}

/*Regole di layout*/

body {
    font-family: 'DM Sans', sans-serif;
}

/*Header*/
.page-header {
    min-height: 30px;
    background-color: #ff6900;
    color: white;
}

.navbar {
    padding: 8px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.navbar_list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
}

.img-logo {
    height: 30px;
}